{% extends './base.html' %}
{% block content %}
EDIT
<div class="container">
    <div class="row-10">
        <div class="col">
            <h1> EDIT SHOW {{show.id}}</h1>
        </div>
    </div>
    <div class="row-10">
        <div class="col">      
            <form method="POST" action="/shows/{{show.id}}/edit">
            {% csrf_token %}
            
                <!--TITULO-->
                <div class="mb-3">
                    <label for="title" class="form-label">Title</label>
                    <input type="text" class="form-control" id="name" name= "title" aria-describedby="" value="{{show.title}}">
                </div>
                <div class="row">
                    <!--NETWORK-->
                    <div class="col">
                        <label for="network" class="form-label">Network</label>
                        <select class="form-select" id="network" name= "network_id" aria-label="Default select example">
                            <option selected>Open this select menu</option>
                            {% for net in networks %}
                            <option {% if net.id == show.network.id %}selected="selected"{% endif %} value="{{net.id}}">{{net.name}}</option>
                            {% endfor %}
                          </select>
                    </div>
                    <!--FECHA-->
                    <div class="col">
                        <label for="release_date" class="form-label">Release_date</label>
                        <input type="date" class="form-control" id= release_date name= release_date placeholder="" aria-label="" value="{{release_date}}">
                    </div>
                </div>
                <div class="row">
                    <!--DESCRIPCION-->
                    <div class="col-6">
                        <div class="mb-3">
                            <label for="description" class="form-label">Description</label>
                            <textarea class="form-control" id="description" name="description" rows="3">{{show.description}}</textarea>
                            <!--<a href="#">Delete</a>-->
                        </div>
                    </div>
                </div>
                <div class="row">
                    <!--BOTON-->
                    <div class="col text-center">
                        <button type="submit" class="btn btn-primary">Update</button>
                    </div>
                </div>
            </div>
            </form>
        </div>
    </div>
</div>

{% endblock %}