{% extends './base.html' %}
{% block content %}
REGISTER
<div class="container">
    <div class="row-10">
        <div class="col-6">
            <form id="reg_form" method="POST" action="/register">
            <!--para  indicar que form vaya a algun lado, por metodo post y ruta register-->
                <h4>Registro de Usuarios</h4>
                {% csrf_token %}
                <div class="mb-3">
                    <label for="name" class="form-label">Nombre</label>
                    <input type="text" class="validate" id="name" required name= "name" aria-describedby="">
                </div>
                <div class="mb-3">
                    <label for="email" class="form-label">Email</label>
                    <input type="email" class="validate" id="email" required name= "email" aria-describedby="">
                </div>
                <div class="mb-3">
                    <label for="password" class="form-label">Contrasena</label>
                    <input type="password" class="validate" minlength="6" id="password" required name= "password" aria-describedby="">
                </div>
                <div class="mb-3">
                    <label for="password_confirm" class="form-label">Repetir Contrasena</label>
                    <input type="password" class="validate" minlength="6" id="password_confirm" required name= "password_confirm" aria-describedby="">
                </div>
                <div class="row">
                    <div class="col-6">   
                    <button type="submit" name=action class="btn btn-primary">Register</button>
                </div>
            </form>
        </div>    
        <div class="col-6">
            <form method="POST" action="/login">
                <h4>Ingreso Usuarios</h4>
                {% csrf_token %}
                <div class="mb-3">
                    <label for="email" class="form-label">Email</label>
                    <input type="email" class="validate" id="email" required name= "email" aria-describedby="">
                </div>        
                <div class="mb-3">
                    <label for="password" class="form-label">Contrasena</label>
                    <input type="password" class="validate" minlength="6" id="password" required name= "password" aria-describedby="">
                </div>
                <div class="row">
                    <div class="col-6">   
                    <button type="submit" name=action class="btn btn-primary">Ingrese</button>
                </div>
            </form>
        </div>
        <script>
            // Enlace Toastr's
            {% if messages %}
                {% for message in messages %}
                    toastr.{{message.tags}}("{{ message }}")
                {% endfor %}
            {% endif %}
        </script>
    </div>
</div>
{% endblock %}
